{% extends "base.html" %}

{% block content %}
<div class="container-lg">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Username</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Access</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th>{{ user["id"] }}</th>
                    <td>@{{ user["username"] }}</td>
                    <td>{{ user["first_name"] }}</td>
                    <td>{{ user["last_name"] }}</td>
                    <td>
                        {% if user["is_known"] %}
                            <button class="btn btn-danger reject_tg" id="tg_{{ user["id"] }}">Reject</button>
                        {% else %}
                            <button class="btn btn-success accept_tg" id="tg_{{ user["id"] }}">Accept</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block postscripts %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}
